@if (usuario$ | async; as usuario) {
  <div class="container p-4">
    <app-titulo [titulo]="'Perfil de ' + usuario.nome" [showBtn]="false"></app-titulo>
    <div class="perfil d-flex flex-row shadow border mt-3">
      <img [src]="userImage" alt="Imagem de usuário">
      <div class="d-flex flex-column w-100 p-4">
        <div class="d-flex flex-row align-items-center">
          <h4 class="p-1">
            {{ usuario.nome }}
          </h4>
          <p class="role p-1">{{usuario.role}}</p>
          @if (usuario.fornecedor) {
            <p class="role p-1">{{usuario.fornecedor.nome}}</p>
          }
          <a class="btn btn-success" (click)="onEdit()">Editar <i class="fa-solid fa-edit p-1"></i></a>
        </div>
        <h6><i class="fa fa-envelope"></i> Email: {{usuario.email}}</h6>
        @if(usuario.telefone) {
          <h6><i class="fa fa-phone"></i> Telefone: {{usuario.telefone | mask: '(00) 000000000'}}</h6>
        }

      </div>
    </div>
    <div class="mt-4">
      <app-list-compra [compras]="compras"></app-list-compra>
    </div>
</div>
} @else {
  <div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="spinner-border" role="status">
      <span class="sr-only">Carregando...</span>
    </div>
  </div>
}
