<app-header></app-header>
<app-menu></app-menu>
<div class="container">
  <h4 class="mt-2">Form Servico</h4>
  <form class="form-group" [formGroup]="form" >
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome">
    </div>
    <div class="mb-3">
      <label class="form-label">Descrição</label>
      <input type="text" class="form-control" formControlName="descricao">
    </div>
    <div class="mb-3">
      <label class="form-label">Preço</label>
      <input type="number" class="form-control" formControlName="preco">
    </div>
    <!-- <div class="mb-3">
      <label class="form-label">Images</label>
      <textarea class="form-control" formControlName="imagens"></textarea>
    </div> -->

    <div formArrayName="imagens" class="mb-3">
      <label class="form-label">Imagens</label>

      IMPLEMENTAR INSERÇÃO DE IMAGENS

    </div>

    @if(serviceId == null) {
      <button class="btn btn-success" (click)="onAdd()">Cadastrar</button>

    }@else {
      <button class="btn btn-success" (click)="onEdit(serviceId, form.value)">Editar</button>
    }
  </form>
</div>
