
<main class="card-deck">
  @for(servico of servicos; track servico.id; let idx = $index) {
    <div class="card" style="width: 18rem;">
      <img [src]="servico.imagens.split(' ; ')[0]" class="card-img-top" [alt]="servico.descricao">
      <div class="card-body">
        <h5 class="card-title">{{servico.nome}}</h5>
        <p class="card-text">{{servico.descricao}}</p>
        <a class="btn btn-success" routerLink="/viva-tce/servicos/{{servico.id}}">Detalhes</a>
      </div>
    </div>
  }@empty {
    <p>Nenhum serviço cadastrado</p>
  }
</main>
