
<header class="d-flex flex-row shadow">
  <img [src]="tceLogo" routerLink="/servicos" alt="Logo do TCE-RN">
  <hr/>
  <h1>VIVA TCE</h1>
  <div class="d-flex float-right user nav-item dropdown">
    <p>{{usuario().nome}}</p>
    <i class="fa-solid fa-circle-user"></i>
    <div class="dropdown-menu">
        <a class="dropdown-item"><i class="fa-solid fa-edit"></i> Editar Perfil</a>
        <a class="dropdown-item"><i class="fa-solid fa-sign-out"></i> Sair da conta</a>
    </div>
  </div>
</header>


