
<header class="d-flex flex-row shadow">
  <div class="logo" routerLink="/viva-tce">
    <img [src]="tceLogo" alt="Logo do TCE-RN">
    <hr/>
    <div class="d-flex flex-column">
      <h1>VIVA TCE</h1>
      <h3>PORTAL DE SERVIÇOS</h3>
    </div>
  </div>
  <app-menu></app-menu>
  <div class="d-flex float-right user nav-item dropdown">
    <p>{{usuario().nome}}</p>
    <i class="fa-solid fa-circle-user"></i>
    <div class="dropdown-menu">
        <a class="dropdown-item" (click)="minhaConta()"><i class="fa-solid fa-user"></i> Minha Conta</a>
        <a class="dropdown-item" (click)="editarPerfil()"><i class="fa-solid fa-edit"></i> Editar Perfil</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa-solid fa-sign-out"></i> Sair da conta</a>
    </div>
  </div>
</header>


