<main>

     <div class="logo">
         <img [src]="logoTce" alt="Logo do Tribunal de Contas do Estado do Rio Grande do Norte">
         <hr>
         <div class="d-flex flex-column justify-content-center align-items-center title">
         <h1>VIVA TCE</h1>
         <h3>PORTAL DE SERVIÇOS</h3>
         </div>
     </div>
 
     <div class="error p-4">
         <i class="fa-solid fa-exclamation-triangle"></i>
         <div class="d-flex flex-column align-items-center">
             <h2>Acesso negado</h2>
             <p>Você não tem autorização para acessar essa página</p>
             <button class="btn btn-success" (click)="voltar()">Voltar</button>
         </div>
     </div>

 </main>