h1 {
    color: var(--primary);
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    flex: 2;
}

div{
    width: 100%;
    align-items: center;
}

app-filter {
    width: 20%;
}

button {
    margin-left: 1%;
    justify-content: flex-end;
}