<main>

    <div class="logo">
        <img [src]="logoTce" alt="Logo do Tribunal de Contas do Estado do Rio Grande do Norte">
        <hr>
        <div class="d-flex flex-column justify-content-center align-items-center title">
        <h1>VIVA TCE</h1>
        <h3>PORTAL DE SERVIÇOS</h3>
        </div>
    </div>

    <div class="error p-4">
        <i class="fa-solid fa-exclamation-triangle"></i>
        <div class="d-flex flex-column align-items-center">
            <h2>Erro 404</h2>
            <p>Página não encontrada</p>
        </div>
    </div>
</main>