
<div class="container">

  <h4 class="mt-2">{{ usuarioId ? 'Editar Usuário' : 'Cadastrar Usuário' }}</h4>
  <form class="form-group" [formGroup]="form" >
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome">
    </div>
    <div class="mb-3">
      <label class="form-label">Senha</label>
      <input type="text" class="form-control" formControlName="senha">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Telefone</label>
      <input type="text" class="form-control" formControlName="telefone">
    </div>

    <label class="form-label">Papel</label>
    <select class="form-select" formControlName="role">
      @for(role of roles; track role; let idx = $index) {
        <option value="{{role}}">{{role}}</option>
      }
    </select>

    @if(this.form.get('role')?.value == 'vendedor') {
      <label class="form-label mt-2">Fornecedor</label>
      <select class="form-select" formControlName="fornecedorId">
        @for(fornecedor of fornecedores(); track fornecedor; let idx = $index) {
          <option value="{{fornecedor.id}}">{{fornecedor.nome}}</option>
        }
      </select>
    }

    @if(usuarioId == null) {
      <button class="btn btn-success mt-2" (click)="onAdd()">Cadastrar</button>

    }@else {
      <button class="btn btn-success mt-2" (click)="onEdit(usuarioId, form.value)">Editar</button>
    }

  </form>




</div>
