<app-header></app-header>
<app-menu></app-menu>
<div class="container">
  <p>form-usuario works!</p>



  <!-- <label class="form-label">Papel</label>
  <select class="form-select mb-3">
    <option selected disabled></option>
    @for(role of roles; track role; let idx = $index) {
      <option value="{{role}}">{{role}}</option>
    }
  </select>

  <label class="form-label">Fornecedor</label>

  <select class="form-select mb-3">
    <option selected disabled></option>
    @for(fornecedor of fornecedores(); track fornecedor; let idx = $index) {
      <option value="{{fornecedor.id}}">{{fornecedor.nome}}</option>
    }
  </select> -->

</div>
