
<body>
  <header class="mb-3">
    <img [src]="logoTce" alt="Logo do Tribunal de Contas do Estado do Rio Grande do Norte">
    <hr>
    <div class="d-flex flex-column justify-content-center align-items-center title">
      <h1>VIVA TCE</h1>
      <h3>PORTAL DE SERVIÇOS</h3>
    </div>
  </header>
  
  <main class="p-4 landing">
    <div class="segmented-btn mt-3 mb-3">
      <button (click)="select()" [class]="isLogin? 'selected toggle-rev' : 'not-selected'">Login</button>
      <button (click)="select()" [class]="isLogin? 'not-selected' : 'selected toggle'">Cadastro</button>
    </div>
      @if (!isLogin) {
            <form class="form-group" [formGroup]="form" (ngSubmit)="onSignUp()">
              <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" formControlName="nome">
              </div>
              <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="text" class="form-control" formControlName="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" formControlName="password">
              </div>
              <button type="submit" class="btn btn-success">Cadastrar-se</button>
            </form>
      } @else {
            <form class="form-group" [formGroup]="form" (ngSubmit)="onSignIn()">
              <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="text" class="form-control" formControlName="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" formControlName="password">
              </div>
              <button type="submit" class="btn btn-success">Entrar</button>
            </form>
      }
    
  </main>
  
</body>
