.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.corpo {
  display: flex;
  align-items: center;
  color: var(--primary);
  justify-content: center;
  margin: auto;
}

.corpo, img {
  border-radius: 150px;
}

img {
  margin-right: auto;
  width: 10vw;
  height: 10vw;
}

.info {
  text-align: center;
  flex: 1;
}

.corpo .btn {
  width: fit-content;
  margin: auto;
}