

<div class="container">
  <app-titulo [titulo]="'Detalhes de ' + fornecedor.nome" [showBtn]="false"></app-titulo>
  <div class="corpo shadow mt-3 w-75">
      <img src="{{ fornecedor.logo }}" [alt]="'Logo de ' + fornecedor.nome">
      <div class="d-flex flex-column info">
          <h3 class="">{{fornecedor.nome}}</h3>
          <h6 class="mt-2">Contato: {{fornecedor.contato | mask: '(00) 000000000'}}</h6>
          @if(userLogged().role == 'admin') {
            <button type="button" class="btn btn-success mt-3" routerLink="edit">Editar <i class="fa fa-edit"></i></button>
        }
      </div>
  </div>
  <app-titulo class="mb-3 mt-3" titulo="Serviços" [showBtn]="false"></app-titulo>
  <app-list-servico-fornecedor [servicos]="servicos"></app-list-servico-fornecedor>
</div>



