<h5>Compras deste usuário:</h5>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data</th>
      <th scope="col">Assinatura</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    @for(compra of compras; track compra.id; let idx  = $index) {
      <tr>
        <td scope="row">{{ compra.servico.nome }}</td>
        <td>{{ compra.data }}</td>
        <td>{{ compra.assinatura ? "Sim" : "Não" }}</td>
        <td>{{ compra.servico.preco }}</td>
        <td>
          <!-- <i class="fa-solid fa-eye p-1" routerLink="{{compra.id}}"></i> -->
          <i class="fa-solid fa-trash-can p-1" (click)="deletar(compra.id)"></i>
        </td>
      </tr>
    }
    @empty {
      <tr>
        <td colspan="5">Não possui compras.</td>
      </tr>
    }
  </tbody>
</table>
