@if (servico$ | async; as servico) {
    <div class="container">
        <app-titulo titulo="DETALHES DE SERVIÇO" [showBtn]="false"></app-titulo>
        <div class="corpo mt-3 border shadow">
            <div class="coluna-1">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for(imagem of servico.imagens.split(" ; "); track $index){
                            <div [class]="$index === 0? 'carousel-item active' : 'carousel-item'">
                                <img src="{{imagem}}" class="d-block w-100" alt="Imagem do serviço">
                            </div>
                        }
                    </div>
                    @if (servico.imagens.length > 1) {
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    }
                </div>
            </div>
            <div class="coluna-2 p-4">
                <div class="d-flex flex-row align-items-center">
                    <h4 class="mt-2">{{servico.nome}}</h4>
                    @if(userLogged().role === 'vendedor' && userLogged().fornecedorId == servico.fornecedorId) {
                        <button class="btn btn-success" (click)="editar(servico.id, servico.fornecedorId)">
                            Editar <i class="fa-solid fa-edit p-1" style="cursor: pointer;"></i>
                        </button>
                    }
                </div>
                <h5 class="mt-3">Descrição: </h5>
                <p class="mt-1">{{servico.descricao}}</p>
                <div class="d-flex flex-row align-items-center">
                    <h6 class="mt-3 preco p-2 rounded">Valor: R$ {{servico.preco | mask: '0*.00'}}</h6>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" type="checkbox" role="switch" (click)="switchAssinatura()">
                        <label class="form-check-label"> Assinatura Mensal</label>
                    </div>
                </div>
                <button type="button" class="btn btn-success" (click)="comprar()">Comprar</button>
            </div>
        </div>
    </div>
}
