body { font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    font-family: 'Roboto', sans-serif;
    --primary: #366e61;
    --on-primary: white;
    --primary-hover: #19362f;
    --secondary: #dea400;
    --on-secondary: black;
    --primary-container: white;
    --on-primary-container: #366e61;
    --header-width: 100vw;
    --header--height: 15vh;
}

.btn-success {
    background-color: var(--primary);
    color: var(--on-primary);
    border-color: var(--primary);
}

.btn-success:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}


.spinner-border {
    color: var(--primary);
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes shake {
    0% {
        rotate: 0deg;
    }
    25%{
        rotate: 10 deg;
    }
    50% {
        rotate: -20deg;
    }
    100% {
        rotate: 10deg;
    }
}

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }

  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primary-container); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary); 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
