.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--secondary);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}
.dropdown-menu a {
  color: var(--on-secondary);
}

ul, ul a {
  background-color: var(--secondary);
  color: var(--on-secondary);
  text-decoration: none;
}
