
<ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link" routerLink="/servico">Serviços</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/servico">List</a>
        <a class="dropdown-item" routerLink="/servico/form">Cadastrar</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" routerLink="/usuario">Usuários</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/usuario">List</a>
        <a class="dropdown-item" routerLink="/usuario/form">Cadastrar</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" routerLink="/fornecedor">Fornecedores</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/fornecedor">List</a>
        <a class="dropdown-item" routerLink="/fornecedor/form">Cadastrar</a>
      </div>
    </li>
</ul>
