<app-titulo titulo="LISTAGEM DE SERVIÇOS" [showBtn]="podeCadastrar()" (btnFn)="novoServico()"></app-titulo>
<main class="card-deck mt-3 p-4">
    @for(servico of servicos(); track servico.id; let idx = $index) {
      <div class="card" style="width: 18rem;">
        <img [src]="servico.imagens[0]" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{servico.nome}}</h5>
          <p class="card-text">{{servico.descricao}}</p>
          <a class="btn btn-success" routerLink="/{{servico.id}}/detalhes">Detalhes</a>
        </div>
      </div>
    }@empty {
      <p>Nenhum serviço cadastrado</p>
    }
</main>
